@use 'sass:math';
@charset 'utf-8';
@import 'normalize';
@import 'auto-em-rem-perssent';
@import 'calc-adaptive';

// Fonts =====================================================
	@font-face {
		font-family: 'Roboto';
		src: local('../fonts/Roboto Light'), local('Roboto-Light'),
		    url('../fonts/Roboto-Light.woff2') format('woff2'),
		    url('../fonts/Roboto-Light.woff') format('woff'),
		    url('../fonts/Roboto-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
	}
	@font-face {
		font-family: 'Roboto';
		src: local('../fonts/Roboto Light Italic'), local('Roboto-Light-Italic'),
		    url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
		    url('../fonts/Roboto-LightItalic.woff') format('woff'),
		    url('../fonts/Roboto-LightItalic.ttf') format('truetype');
		font-weight: 300;
		font-style: italic;
	}

	@font-face {
		font-family: 'Roboto';
		src: local('../fonts/Roboto Regular'), local('Roboto-Regular'),
		    url('../fonts/Roboto-Regular.woff2') format('woff2'),
		    url('../fonts/Roboto-Regular.woff') format('woff'),
		    url('../fonts/Roboto-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Roboto';
		src: local('../fonts/Roboto Bold'), local('Roboto-Bold'),
		    url('../fonts/Roboto-Bold.woff2') format('woff2'),
		    url('../fonts/Roboto-Bold.woff') format('woff'),
		    url('../fonts/Roboto-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'Futura PT';
		src: local('../fonts/Futura PT Book'), local('Futura-PT-Book'),
		    url('../fonts/FuturaPT-Book.woff2') format('woff2'),
		    url('../fonts/FuturaPT-Book.woff') format('woff'),
		    url('../fonts/FuturaPT-Book.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Futura PT';
		src: local('../fonts/Futura PT Medium'), local('Futura-PT-Medium'),
		    url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
		    url('../fonts/FuturaPT-Medium.woff') format('woff'),
		    url('../fonts/FuturaPT-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
	}

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto';
	overflow-x: hidden;
	background-color: #12253b;
	color: #fff;
	&.lock{
		overflow: hidden;
	}
}

$offsetContainer: 15px; 

.container{
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 $offsetContainer;
}

ul li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
.logo {
	@include adaptive-value("max-width", 160, 110, 1);
	img{
		max-width: 100%;
	}
}
.title{
	font-family: 'Futura PT';
	font-size: rem(44);
	line-height: rem(52);
	letter-spacing: 0.1em;
	font-weight: 500;
	color: #BBA390;
	text-transform: uppercase;
}
.btn{
	font-family: 'Roboto';
	font-size: rem(20);
	font-weight: 700;
	color: #fff;
	background-color: #2b8cfc;
	@include adaptive-value("padding-top", 15, 10, 1);
	@include adaptive-value("padding-bottom", 15, 10, 1);
	@include adaptive-value("padding-right", 42, 30, 1);
	@include adaptive-value("padding-left", 42, 30, 1);
	border: none;
	cursor: pointer;
	transition: .3s;
}
body._pc{
	.btn:hover{
		background-color: #2285e0;
	}
	.btn:active{
		background-color: #1f71bd;
	}
}

// Header ----------------------------------------------------------
	.menu__burger{display: none;}
	.header {
		@include adaptive-value("padding-top", 35, 15, 1);
		@include adaptive-value("padding-bottom", 15, 5, 1);
		@include adaptive-value("margin-bottom", 70, 20, 1);
		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__logo {}
		&__menu {
			flex: 0 1 60%;
		}
		&__menu-list {
			font-family: 'Futura PT';
			font-size: rem(22);
			line-height: em(28);
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__menu-item {}
		&__menu-link {}
	}
// Curtains --------------------------------------------------------
	.circle{
		@include adaptive-value("width", 1000, 300, 1);
		@include adaptive-value("height", 1000, 300, 1);
		background-color: #233e59;
		border-radius: 50%;
		position: absolute;
		top: 0;
		@include adaptive-value("left", -350, -200, 1);
		z-index: -1;
	}
	.curtains {
		position: relative;
		&__inner {
			display: grid;
			grid-template-columns: repeat(2,1fr);
			grid-template-rows: repeat(5,365px);
			justify-content: space-between;
		}
		&__title {
			@include adaptive-value("margin-bottom", 15, 10, 1);
		}
		&__descr {
			font-family: 'Roboto';
			font-size: 1rem;
			line-height: em(32);
			font-weight: 300;
			color: #8CAAC8;
		}
		&__descr-item {}
		&__item {
			overflow: hidden;
			&:nth-child(even){
				justify-self: flex-end;
			}
		}
		&__text {
			max-width: 540px;
			align-self: center;
			grid-row: 1/2;
		}
		&__rome{
			grid-row: 1/3;
		}
		&__austria {
			grid-row: 2/4;
			img{
				transform: scale(1.01);
			}
		}
		&__france {
			grid-row: 3/5;
		}
		&__london {
			grid-row: 4/7;
		}
		&__straight {
			grid-row: 5/7;
			img{
				transform: translateY(-1px);
			}
		}
		&__image {
			@include adaptive-value("max-width", 485, 130, 1);
			@include adaptive-value("max-height", 650, 200, 1);
			border-radius: 15px;
			margin-bottom: 10px;
			overflow: hidden;
			img{
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
				border-radius: 15px;
				transition: .5s;
			}
		}
		&__subtitle {
			font-size: rem(24);
			line-height: em(28);
			font-family: 'Futura PT';
			letter-spacing: 0.08em;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			span{
				padding-right: 10px;
			}
			svg{
				@include adaptive-value("width", 40, 27, 1);
			}
		}
	}
	body._pc {
		.curtains__image:hover{
			img{
				transform: scale(1.3);
			}
		}
	}
// Dilers ----------------------------------------------------------
	.dilers {
		@include adaptive-value("padding-top", 50, 20, 1);
		@include adaptive-value("padding-bottom", 70, 35, 1);
		&__top {
			max-width: 585px;
			margin: 0 auto;
			text-align: center;
			@include adaptive-value("margin-bottom", 50, 25, 1);
		}
		&__title {
			margin-bottom: 10px;
		}
		&__subtitle {
			font-family: 'Roboto';
			font-size: rem(20);
			line-height: em(24);
			color: #5B82A9;
		}
		&__inner {
			display: grid;
			grid-template-columns: repeat(4,1fr);
			@include adaptive-value("grid-gap", 55, 20, 1);
			@include adaptive-value("margin-bottom", 70, 30, 1);
		}
		&__item {
			font-family: 'Roboto';
			text-align: center;
			color: #8CAAC8;
		}
		&__item-image {
			@include adaptive-value("margin-bottom",25, 15, 1);
		}
		&__item-text {
			font-size: 1rem;
			line-height: em(28);
			font-weight: 300;
		}
		&__form {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__form-inp {
			flex: 0 1 300px;
			margin-right: 15px;
			font-size: 1rem;
			border: 1px solid #385980;
			padding: 17px 15px 17px 23px;
			@include adaptive-value("padding-top", 17, 12, 1);
			@include adaptive-value("padding-bottom", 17, 12, 1);
			@include adaptive-value("padding-right", 15, 7, 1);
			@include adaptive-value("padding-left", 23, 15, 1);
			background-color: transparent;
			color: #fff;
			&:focus{
				outline: 1px solid #2285e0;
			}
			&::placeholder{
				font-family: 'Roboto';
				font-style: italic;
				font-size: 1rem;
				font-weight: 300;
				color: #5C82A8;
			}
		}
		&__form-btn {}
	}
// Bg --------------------------------------------------------------
	.bg_image{
		position: relative;
	}
	.bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		img{
			width: 100%;
			height: calc(65% + (100 - 15) * ((100vw - 320px) / (1080 - 320)));
		}
	}
// Studio ----------------------------------------------------------
	.studio {
		@include adaptive-value("padding-top", 50, 25, 1);
		@include adaptive-value("padding-bottom", 50, 30, 1);
		&__title {
			text-align: center;
			@include adaptive-value("margin-bottom", 60, 30, 1);
		}
		&__inner {
			display: flex;
			align-items: center;
			@include adaptive-value("margin-bottom", 35, 20, 1);
		}
		&__item {
			flex: 0 1 350px;
			background-color: #051627;
			box-shadow: 12px 22px 32px rgba(18, 37, 59, 0.15);
			border-radius: 20px;
			@include adaptive-value("padding-top", 30, 20, 1);
			@include adaptive-value("padding-right", 25, 15, 1);
			@include adaptive-value("padding-bottom", 15, 10, 1);
			@include adaptive-value("padding-left", 37, 15, 1);
			display: flex;
			justify-content: space-between;
			overflow: hidden;
			position: relative;
			z-index: 1;
			margin-right: 15px;
			&:last-child{margin-right: 0;}
		}
		&__item-text {
			font-family: 'Roboto';
			font-size: rem(18);
			line-height: em(24);
			color: #8CAAC8;
			max-width: 130px;
		}
		&__item-image {
			@include adaptive-value("max-width", 125, 90, 1);
			@include adaptive-value("max-height", 107, 77, 1);
			svg{
				max-width: 100%;
				max-height: 100%;
			}
		}
		&__item-circle{
			position: absolute;
			@include adaptive-value("bottom", -130, -70, 1);
			@include adaptive-value("right", -130, -70, 1);
			@include adaptive-value("width", 225, 140, 1);
			@include adaptive-value("height", 225, 140, 1);
			border-radius: 50%;
			background-color: #0A2138;
			z-index: -1;
		}
		&__terms {
			text-align: center;
		}
		&__terms-link {
			font-family: 'Roboto';
			font-size: rem(20);
			line-height: em(30);
			font-weight: 300;
			position: relative;
			span{
				padding-right: 10px;
			}
			svg{
				@include adaptive-value("width", 40, 27, 1);
			}
			&::before{
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 83%;
				height: 1px;
				background-color: #7e8895;
			}
		}
	}
// We --------------------------------------------------------------
	.we {
		@include adaptive-value("padding-top", 50, 30, 1);
		@include adaptive-value("padding-bottom", 100, 50, 1);
		&__inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__magazine {
			flex: 0 1 370px;
		}
		&__title {
			font-family: 'Futura PT';
			font-size: rem(40);
			line-height: rem(48);
			letter-spacing: 0.06em;
			font-weight: 500;
			text-transform: uppercase;
			@include adaptive-value("margin-bottom", 12, 7, 1);
		}
		&__descr {
			font-family: 'Roboto';
			font-weight: 300;
			font-size: 1rem;
			line-height: em(28);
			color: #8CAAC8;
			@include adaptive-value("margin-bottom", 45, 15, 1);
		}
		&__link {
			display: inline-block;
		}
		&__image {
			flex: 0 1 550px;
			img{
				max-width: 100%;
			}
		}
	}
// Footer ----------------------------------------------------------
	.footer {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: rem(14);
		line-height: em(16);
		color: #fff;
		&__body {
			display: grid;
			grid-template-columns: 2fr 1fr 2fr;
		}
		&__item {
			&:first-child{
				display: flex;
				flex-direction: column;
				@include adaptive-value("padding-top", 60, 20, 1);
				@include adaptive-value("padding-right", 15, 10, 1);
				@include adaptive-value("padding-bottom", 30, 25, 1);
				@include adaptive-value("padding-left", 35, 20, 1);
				background-color: #2a486b;
			}
			&:nth-child(2){
				@include adaptive-value("padding-top", 60, 20, 1);
				@include adaptive-value("padding-right", 15, 10, 1);
				@include adaptive-value("padding-bottom", 30, 15, 1);
				@include adaptive-value("padding-left", 35, 20, 1);
				background-color: #203b5a;
				.footer__list{
					flex-direction: column;
					@include adaptive-value("margin-bottom", 30, 5, 1);
				}
			}
			&:nth-child(3) {
				@include adaptive-value("padding-top", 60, 20, 1);
				@include adaptive-value("padding-right", 15, 10, 1);
				@include adaptive-value("padding-bottom", 30, 25, 1);
				@include adaptive-value("padding-left", 35, 20, 1);
				background-color: #18304d;
			}
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -5px;
		}
		&__list-item {
			flex: 0 1 50%;
			padding: 0 5px;
			margin-bottom: 15px;
			&:last-child{margin-bottom: 0;}
		}
		&__list-link {
			position: relative;
			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #436e99;
			}
		}
		&__logo {
			margin-top: 45px;
		}
		&__list-bottom {}
		&__contacts {}
		&__contacts-item {
			margin-bottom: 15px;
		}
		&__contacts-link_number{
			font-family: 'Roboto';
			font-size: rem(18);
			line-height: em(21);
			font-weight: 700;
		}
		&__contacts-link {}
		&__social {
			display: flex;
			align-items: center;
		}
		&__social-item{
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
		}
		&__social-link {}
		&__bottom{
			text-align: center;
			padding: 15px 0 10px;
			font-size: rem(18);
			line-height: em(22);
		}
	}



@import 'media';
